<div id="control">
  <div id="logo"><%= link_to image_tag('NeighborlyDevLogo.png'), index_path %></div>
  <%= form_tag index_path do %>
    <%= text_field_tag(:jobs, params[:jobs], :placeholder => "JOB TITLE" ) %>
    <br>
    <!-- <%= label_tag(:city, "CITY") %>
    <%= text_field_tag(:city, params[:city]) %>
    <%= label_tag(:state, "STATE") %>
    <%= text_field_tag(:state, params[:state]) %> -->
    <%= text_field_tag(:zip, params[:zip], :placeholder => "ZIP CODE") %>
    <%= button_tag("SEARCH") %>
  <% end %>
  <div class="dice">
    <%= link_to image_tag('dice.png'), "http://www.dice.com/" %>
    <span id="powered">POWERED</span>
    <br>
    <div class="gmaps">
      <span id="by">BY</span>
      <%= link_to image_tag('gmaps.png'), "https://www.google.com/maps" %>
    </div>
  </div>
  <div id="copyright"><span>&copy; Matthew Kellough 2016</span></div>
</div>

<div id="map-canvas"></div>


</div>

<ul>
  <% @job["resultItemList"].each do |i| %>
  <br>

  <li><%= i["company"]%></li>
  <li><%= i["jobTitle"]%></li>
  <li><%= i["detailUrl"]%></li>
  <% end %>
</ul>
