<!DOCTYPE html>
<html>
<head>
  <title>LinkedinVsGooglemaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhuEkKfmra0J92B7MIgzgw_nQuvWGtTo4"></script> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAhuEkKfmra0J92B7MIgzgw_nQuvWGtTo4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>
	<!-- <script language="javascript" type="text/javascript" src="javascripts/search.js"></script> -->
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
